@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pat's Diner</h1>
    <p>Check out our menu then place an order!</a></p>
</div>
